@import "tailwindcss";

.input {
  @apply w-full border rounded px-4 py-3 text-sm outline-none focus:border-pink-600;
}

.payment-box {
  @apply flex items-center gap-4 border rounded p-4 cursor-pointer transition;
}

.payment-box.active {
  @apply border-pink-600 bg-pink-50;
}
